player-connection-mode=Listen
player-connection-guid=191336716
player-connection-debug=0
player-connection-project-name=steamworks-tutorial
player-connection-ip=82.130.32.77
player-connection-ip=192.168.56.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
